
@{
    ViewBag.Title = "Calcular_IMC";
}

<h2>Calcular_IMC</h2>

<html>
<head>
    <title></title>
    <!--Biblioteca de JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <label>Ingrese peso: @Html.TextBox("") </label><br />
    <label>Ingrese altura: @Html.TextBox("") </label>
    <input type="button" value="Calcular IMC" />

</body>
</html>

<script>

</script>


